<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imdiggie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/birdappicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/birdappicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FullImageView"></activity>
        <activity android:name=".ui.faculty.FacultyActivity" />
        <activity android:name=".pdf.PdfViewerActivity" />
        <activity android:name=".pdf.PdfActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ui.notice.NoticeActivity" />
        <activity android:name=".ui.classLink.ClassLinkActivity" />
        <activity android:name=".ui.routine.RoutineActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>